@font-face {
	font-family: 'Capture it';
	src: url(../../assets/fonts/Captureit.woff2) format('woff2'),
	url(../../assets/fonts/Captureit.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}