@font-face {
	font-family: 'LemonMilk';
	src: url(../../assets/fonts/LemonMilk.woff2) format('woff2'),
	url(../../assets/fonts/LemonMilk.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}